@import "tailwindcss";

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee-scroll 25s linear infinite;
}

.group:hover .animate-marquee {
  animation-play-state: paused;
}
